.navbar{
  display: flex;
  height: 4rem;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: black;
  border-bottom: 0.5px solid lightgrey;
  opacity: 0.9;
}

.navbar>ul{
  list-style-type: none;
}

.navbar>ul>li{
  display: inline;
}

.navbar>ul>li>a{
  color: white;
  text-decoration: none;
  padding: 1rem 3rem;
}

.navbar>ul>li>a:hover{
  background-color: rgb(30, 30, 30);
}

.nav_left{
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2rem;
  margin-right: 2rem;
}

.nav_left>img{
  position: absolute;
  z-index: -1;
}

.nav_heading{
  font-weight: 500;
}

.nav_heading>a{
  text-decoration: none;
  color: white;
}


/* Media queries */
@media only screen and (max-width: 500px){
  .navbar>ul>li>a{
    padding: 1rem 1rem;
  }
  .navbar>ul>:last-child{
    display: none;
}
  }
