.canvas_page{
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.canvas_container{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.canvas_heading{
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 6px;
}

.img_btn{
  border: none;
  cursor: pointer;
  border: 1px solid lightgray;
  margin: 0 1rem;
  padding: 0;
  height: fit-content;
}

.texture_img_container{
  display: flex;
  justify-content: space-around;
}

.canvas_shapes{
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.canvas_shapes>button:hover{
  cursor: pointer;
  border: 1px solid lightblue;
}

.canvas_left{
  flex: 1;
}

.canvas_shapes_icon{
  font-size: 20px;
  padding-top: 2px;
}

.shapes_btn{
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 6px 14px;
}

.sphere_btn>span{
  font-size: 18px;
}

.canvas_right{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  flex: 1;
  padding-bottom: 3rem;
}

.carousel_container{
  max-width: 650px;
}

.gotomap_container{
  margin-top: -4rem;
}

.gotomap_btn{
  margin-top: 2rem;
}
