.carousel{
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 60%;
  margin-bottom: 2rem;
}

.mapbox_carousel_img{
  display: flex;
  align-items: center;
  justify-content: center;
}